In [ ]:
DATA ANALYTICS PROJECT - FORECASTING HARGA

In [7]:
import pandas as pd
import yfinance as yf
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings("ignore")

In [8]:
# Define Stock Symbol
stock_symbol = "Googl"

# Download historical data Yahoo Finance
data = yf.download(stock_symbol, start='2010-01-01', end='2023-01-01')
data.head(100)

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2010-01-04  15.689439  15.753504  15.621622  15.684434  15.666453   78169752
2010-01-05  15.695195  15.711712  15.554054  15.615365  15.597464  120067812
2010-01-06  15.662162  15.662162  15.174174  15.221722  15.204272  158988852
2010-01-07  15.250250  15.265265  14.831081  14.867367  14.850323  256315428
2010-01-08  14.814815  15.096346  14.742492  15.065566  15.048295  188783028
...               ...        ...        ...        ...        ...        ...
2010-05-20  12.138889  12.151652  11.856857  11.887137  11.873510  196335468
2010-05-21  11.738238  12.137137  11.621622  11.813063  11.799520  387244368
2010-05-24  12.030280  12.257007  11.931932  11.940941  11.927252  173650176
2010-05-25  11.715465  11.948198  11.611862  11.938689  11.925003  120575304
2010-05-26  12.063814  12.256256  11.886887  11.898649  11.885009  138884976

[100 rows x 6 columns]

In [9]:
# Get information about your Data
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3272 entries, 2010-01-04 to 2022-12-30
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       3272 non-null   float64
 1   High       3272 non-null   float64
 2   Low        3272 non-null   float64
 3   Close      3272 non-null   float64
 4   Adj Close  3272 non-null   float64
 5   Volume     3272 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 178.9 KB